In [58]:
#from urllib.request import urlopen
#from datetime import datetime
#import time
#import json
import pandas as pd
import numpy as np

In [59]:
import yfinance as yf
df = yf.download('BTC-USD', '2012-01-01')
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
...,...,...,...,...,...,...
2022-07-18,20781.912109,22633.033203,20781.912109,22485.689453,22485.689453,39974475562
2022-07-19,22467.849609,23666.962891,21683.406250,23389.433594,23389.433594,48765202697
2022-07-20,23393.191406,24196.818359,23009.949219,23231.732422,23231.732422,42932549127
2022-07-21,23233.201172,23388.322266,22431.148438,23164.628906,23164.628906,33631012204
2022-07-22,23140.548828,23495.410156,22881.353516,23495.410156,23495.410156,35218173952

In [ ]:
# add should_buy column based on next interval price 
buy = np.array([])
for i in range(len(df['Close'])-1):
    if df['Close'][i+1] > df['Close'][i]:
        buy = np.append(buy, 1)
    else:
        buy = np.append(buy, 0)
buy = np.append(buy, 2) # latest row, we don't know next value
df['should_buy'] = buy
    
df

,Open,High,Low,Close,Adj Close,Volume,should_buy
Date,,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800,0.0
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200,0.0
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700,1.0
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600,0.0
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100,1.0
...,...,...,...,...,...,...,...
2022-07-18,20781.912109,22633.033203,20781.912109,22485.689453,22485.689453,39974475562,1.0
2022-07-19,22467.849609,23666.962891,21683.406250,23389.433594,23389.433594,48765202697,0.0
2022-07-20,23393.191406,24196.818359,23009.949219,23231.732422,23231.732422,42932549127,0.0
2022-07-21,23233.201172,23388.322266,22431.148438,23164.628906,23164.628906,33631012204,1.0
2022-07-22,23140.548828,23495.410156,22881.353516,23495.410156,23495.410156,35218173952,2.0

In [ ]:
from ta import add_all_ta_features
from ta.utils import dropna

# Clean NaN values
#df = dropna(df)

# Add ta features filling NaN values
df = add_all_ta_features(
    df, open="price", high="High", low="Low", close="Close", volume="Volume", fillna=True)

In [ ]:
df

In [ ]:
df = df.drop(columns=['Volume', 'Open', 'High', 'Low', 'Close', 'Adj Close'])
df = df.iloc[20: , :] # remove first
df.drop(df.tail(1).index,inplace=True)
# Split data into X & y
X = df.drop("should_buy", axis=1) # use all columns except target
y = df["should_buy"] # we want to predict y using X

df

In [ ]:
np.random.seed(42)

In [ ]:
# Split the data into training and test sets
from sklearn.model_selection import train_test_split
# Example use case (requires X & y)
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [ ]:
# Random Forest Classifier (for classification problems)
from sklearn.ensemble import RandomForestClassifier
# Instantiating a Random Forest Classifier (clf short for classifier)
clf = RandomForestClassifier()

In [ ]:
# All models/estimators have the fit() function built-in
clf.fit(X_train, y_train)

In [ ]:
# Once fit is called, you can make predictions using predict()
y_preds = clf.predict(X_test)

# You can also predict with probabilities (on classification models)
y_probs = clf.predict_proba(X_test)

In [ ]:
# View preds
y_preds,

In [ ]:
# View probabilities
y_probs

In [ ]:
# All models/estimators have a score() function
clf.score(X_test, y_test)